@import 'nib'

animate(type, delay=0, duration=0.2s)
  transition-property (type || all)
  transition-duration (duration || 0.2s)
  transition-timing-function ease-in-out

random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea{overflow:auto}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:75%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}
*{font-size:inherit;line-height:inherit;margin:0;padding:0}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font:16px/1.5 sans-serif;text-rendering:optimizeLegibility}
a{text-decoration:none}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;min-height:1.5em}
code,kbd,pre,samp{font-family:monospace,monospace}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}

body
  a
    color saturate(steelblue, 20)
    text-decoration underline
  a:hover
    color darken(saturate(steelblue, 20), 20)

body
  background #fff

.fix
  position fixed
  top 0
  left 0
  right 0
  z-index 111
  white-space nowrap

  ul
    display block
    display flex
    flex-flow row
    flex-wrap wrap
    align-items center
    justify-content space-around
    padding 0
    margin 0
    width 100%

  li
    list-style-type none
    flex 1 1 auto
    padding 0
    margin 0
    line-height 26px
    border-bottom 1px solid rgba(#000,0.05)
    box-sizing border-box
    border-right 1px solid #e5e5e5
    font-size 20px
    font-weight bold
    &:last-child
      border-right none
    @media screen and (max-width:480px)
      flex 1 0 45%
    &:first-child
      flex 0 1 2em
      font-size 26px

  a
    text-align center
    display block
    background-color rgba(#fff, 0.95)
    padding 10px 5px 7px
    color #009933
    text-decoration none
    border-bottom 3px solid rgba(#fff, 0.001)
    animate('border-bottom-color background-color')
    &:active
    &:focus
    &:hover
    &:target
      border-bottom-color steelblue
      outline none
      background-color #eee
      color steelblue


.graphics
  span
    position absolute
    top auto
    left auto
    right auto
    bottom auto
    size 250px
    background-repeat no-repeat
    background-size auto
    background-position center
    margin-top -125px
    margin-left -125px
  .fire
    background-image url(birds/fire.png)
  .sunset
    background-image url(birds/sunset.png)
  .khaki
    background-image url(birds/khaki.png)
  .meadow
    background-image url(birds/meadow.png)
  .ocean
    background-image url(birds/ocean.png)
  .sky
    background-image url(birds/sky.png)

.parallax
  height 500px /* fallback for older browsers */
  height 100vh
  overflow-x hidden
  overflow-y auto
  perspective 300px
  box-sizing border-box
  padding-bottom 50px
  z-index 6

.parallax__group
  position relative
  height 500px /* fallback for older browsers */
  height 100vh
  overflow visible
  transform-style preserve-3d

.parallax__layer
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.parallax__layer--fore
  transform translateZ(90px) scale(.7)
  z-index 5

.parallax__layer--base
  transform translateZ(0)
  z-index 4

.parallax__layer--back
  transform translateZ(-300px) scale(2)
  z-index 3

.parallax__layer--deep
  transform translateZ(-600px) scale(3)
  z-index 2

.debug
  position fixed
  bottom 10px
  left 10px
  z-index 111

.debug-on .parallax__group
  transform translate3d(700px, 0, -800px) rotateY(30deg)

.debug-on .parallax__layer
  box-shadow 0 0 0 2px #000
  opacity 0.9

.parallax__group
  transition transform 0.5s



body
html
  background-color #ffffff
  overflow hidden

body
  font 100% / 1.5 Arial

.parallax
  font-size 130%

/* centre the content in the parallax layers */
.title
  display block
  align-self center
  text-align center
  top 50%
  left 50%
  position absolute
  background-color #ffffff
  transform translate(-50%, -50%)
  border-radius 30px
  padding 0 0 0.5em
  @media screen and (min-width:480px)
    min-width 300px
  @media screen and (min-width:760px)
    min-width 500px

  &.titleBg
    margin-left -20px
    margin-top -20px
    opacity 0.5

html
body
  background #fff url(above-clouds-min.jpg) center bottom no-repeat
  background-size cover
  @media screen and (max-width:640px)
    background-image linear-gradient(top, #A1BED0, #D9D7D6)

.luckaKuba
  font-size 22px
  color #999
  line-height 40px
  text-shadow 0 0 5px #fff
  padding 40px 40px 30px

  .block
    line-height 1.0

.noWrap
  padding-top 10px
  display inline-block
  white-space nowrap

.lucka
.kuba
  font-size 400%

.lucka
  color #FF6666

.kuba
  color #3399FF
.block
  display block


#top
  z-index 2 /* slide over group 2 */


#whoweare
  z-index 4 /* slide over group 2 */

.title
  h2
    padding 0.5em 0
    margin 0 1em
    border-bottom 1px solid rgba(#000, 0.05)

  p
    max-width 100%
    box-sizing border-box
    margin 0 auto
    padding 0.5em 1em 0.5em

img
  display block
  max-width 100%

.inlineB
  display inline-block

.flexRow
  display flex
  flex-flow row
  flex-wrap wrap
  min-width 680px
  box-sizing border-box
  padding 0 5px
  justify-content space-around
  @media screen and (max-width:760px)
    min-width 480px

.photosImg
  flex 1 1 45%
  margin 10px 5px 0
  max-width 50%
  height auto
  box-sizing border-box
  display inline-block
  border-radius 25px
  @media screen and (max-width:760px)
    max-width 100%

.clouds
  transform translate3d(0,0,0)
  position absolute
  pointer-events none
  bottom 0
  left 0
  z-index 11
  right 0
  height 210px
  background url('svg/cloud-center.svg') center bottom no-repeat
  background-size contain
  overflow hidden
  border-bottom 1px solid #ccc
  @media screen and (max-width:640px)
    height 130px

.clouds:before
.clouds:after
  z-index 11
  position absolute
  left 0
  bottom 0
  pointer-events none
  content ''
  height 90%
  width 50%
  background url('svg/cloud-left.svg') left bottom no-repeat
  background-size contain
  @media screen and (max-width:640px)
    height 130px
.clouds:after
  height 100%
  background-image url('svg/cloud-right.svg')
  background-position right bottom
  left auto
  right 0

// #top

#info
  z-index 4 /* slide under groups 1 and 3 */

#maps
#maps2
  z-index 3 /* slide over group 2 and 4 */

// #maps .parallax__layer--back
//   z-index 3
//   AIzaSyCdXDCC-ZXXpEOMMV1abxudnXDqi3m9TsE
//   http://mapy.cz/s/hGIu
//   http://maps.google.com/maps/api/staticmap?zoom=14&maptype=roadmap&markers=color:purple|label:B|49.235338,14.154596&markers=color:red|label:L|49.2320121,14.13303&size=512x300&sensor=false&scale=2
//   background url('https://maps.googleapis.com/maps/api/staticmap?center=49.2368582,14.1551861&scale=2&zoom=13&format=png&sensor=false&size=1024x1024&maptype=roadmap&visual_refresh=true&style=visibility:on%7Csaturation:30&style=feature:poi%7Cvisibility:simplified&style=feature:transit%7Cvisibility:full&style=feature:transit.station%7Cvisibility:on&markers=color:0x5f5cf6%7CHerman+Pisek+Czech+Republic') center no-repeat

// #whoweare
//   .parallax__layer--back
//     background-image url()

.allMaps
  display flex
  max-width 900px
  min-width 640px
  width 100%
  flex-flow row
  flex-wrap wrap
  align-items center
  justify-content space-between
  @media screen and (max-width:760px)
    min-width 480px

  a
    cursor pointer
    @media screen and (max-width:760px)
      flex 1 1 95%
    flex 1 1 30%
    box-sizing border-box
    display flex
    align-items stretch
    align-self stretch
    opacity 0.7
    outline none
    box-sizing border-box
    border 5px solid #fff
    &:hover
    &:focus
    &:active
      outline none
      opacity 1
  img
    align-self center
    max-width 100%
    height auto
    display inline-block

.lightbox
  position fixed
  opacity 0
  z-index 9999
  top -100%
  left 0
  width 100%
  height 100%
  background-color rgba(#000,0.5)
  animate(opacity)
  display flex
  align-items center
  text-align center

  a
    text-decoration none
    margin 0 auto
    display flex
    align-items center
    z-index 9999
    line-height 1.0
    position relative

  img
    flex 1 1 100%
    display block
    max-width 100%
    height auto
    z-index 9999

  a:after
    z-index 9999
    content attr(data-some)
    position absolute
    top -30px
    line-height 40px
    text-align center
    left 0
    right 0
    height 40px
    color #fff
    font-weight bold
    background-color #000000
    font-size 24px


.lightbox:target
  opacity 1
  outline none
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden


@keyframes wiggles
  0%
    transform translate3d(0, 0, -1.5px)
  25%
    transform translate3d(0, 0, -5px)
  50%
    transform translate3d(0, 0, -1.5px)
  75%
    transform translate3d(0, 0, -5px)
  to
    transform translate3d(0, 0, -1.5px)

@keyframes antiwiggles
  0%
    transform translate3d(0, 0, 1.5px)
  25%
    transform translate3d(0, 0, 5px)
  50%
    transform translate3d(0, 0, 1.5px)
  75%
    transform translate3d(0, 0, 5px)
  to
    transform translate3d(0, 0, 1.5px)

.containsPhotosAll
  perspective 300px
  position absolute
  left 0
  top 0
  right 0
  overflow visible

.photosAll
  transform translate3d(0, 0, -1.5px)
  animation wiggles 3s ease 4s infinite normal forwards
  transform-style preserve-3d
  backface-visibility hidden
  display flex
  position absolute
  top 60px
  left 0
  right 0
  overflow visible
  align-items center
  justify-content space-around
  flex-flow row
  flex-wrap wrap
  z-index 1

.photosAll div
  flex 1 1 15%
  background-repeat no-repeat
  background-position center center
  background-size contain
  margin 30px 20px 0
  min-height 320px
  opacity 1
  // animation antiwiggles 3s ease 4s infinite forwards
  transform translate3d(0, 0, 1.5px)

.photosAll div
  opacity 0
  animation-name pulse,antiwiggles
  animation-duration 3s,3s
  animation-easing-function ease,ease
  animation-delay 1s,4s
  animation-iteration-count 1,infinite
  animation-direction normal,normal
  animation-fill-mode forwards,forwards


@keyframes pulse
  0%
    opacity 0
  100%
    opacity 1

$all = 10 + 10 + 10

$delay = 0

.photosAll div
  // animation pulse 3s ease 1s 1 forwards
  @media screen and (max-width:1160px)
    flex 1 1 auto
    max-heigth 320px
    max-width 320px
for i in (0..9) // '11' '12' '13' '14' '15' '16')
  $v = 3 * i
  .photosAll div:nth-child({$all}n+{$v})
    background-image url('photos/oba' + base-convert(i+1, 10, 2) + '.jpg')
    $size = image-size('photos/oba' + base-convert(i+1, 10, 2) + '.jpg')
    size ($size[0]/2) ($size[1]/2)
    // $delay = $delay + round(random(4, 10) / 3, 1)
    // animation-delay round($delay, 1)s

  .photosAll div:nth-child({$all}n+{$v + 1})
    background-image url('photos/lucka' + base-convert(i+1, 10, 2) + '.jpg')
    $size = image-size('photos/lucka' + base-convert(i+1, 10, 2) + '.jpg')
    size ($size[0]/2) ($size[1]/2)
    // $delay = $delay + round(random(8, 23) / 3, 1)
    // animation-delay round($delay, 1)s

  .photosAll div:nth-child({$all}n+{$v + 2})
    background-image url('photos/kuba' + base-convert(i+1, 10, 2) + '.jpg')
    $size = image-size('photos/kuba' + base-convert(i+1, 10, 2) + '.jpg')
    size ($size[0]/2) ($size[1]/2)
    // $delay = $delay + round(random(8, 23) / 3, 1)
    // animation-delay round($delay, 1)s

#party
  z-index 4 /* slide under group 3 and 5 */
  .title
    text-align left
    min-width 20em
    ul
      list-style-type none
      padding 0.5em
      margin 0
    ul > li
      display flex
      .startTime
        flex 1 1 4em
      span
        flex 3 1 70%
    ul
    p
      font-size 16px

    h2
      text-align center

#party .parallax__layer--deep
  overflow visible



#money
  z-index 3 /* slide over group 4 and 6 */
#money .parallax__layer--back
  z-index 2
  .moneyBg
    padding 20px
    min-width 480px
    max-width 700px
    min-height 40%
    max-height 50%
.aroundPiggy
  display flex
  width 100%
  box-sizing border-box
  align-items stretch
  justify-content flex-start

  .paras
    align-self flex-start
    text-align left
    flex 1 1 auto

  .piggy
    margin 20px 10px 10px 10px
    flex 1 1 40%
    display block
    min-height 200px
    min-width 300px
    background #fff url('svg/piggy.svg') center no-repeat
    background-size contain

