/* sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,
textarea {
  overflow: auto;
}
[hidden],
audio:not([controls]),
template {
  display: none;
}
details,
main,
summary {
  display: block;
}
input[type=number] {
  width: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
progress {
  display: inline-block;
}
small {
  font-size: 75%;
}
textarea {
  resize: vertical;
}
[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}
* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  min-height: 1.5em;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
nav ol,
nav ul {
  list-style: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}
body a {
  color: #6700dc;
  text-decoration: underline;
}
body a:hover {
  color: #3e0084;
}
body {
  color: #333;
  background: #fff;
}
.fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111;
  white-space: nowrap;
}
.fix ul {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
}
.fix li {
  list-style-type: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
  line-height: 26px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #e5e5e5;
  font-size: 20px;
  font-weight: bold;
}
.fix li:last-child {
  border-right: none;
}
@media screen and (max-width: 480px) {
  .fix li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 45%;
    -ms-flex: 1 0 45%;
    flex: 1 0 45%;
  }
}
.fix li:first-child,
.fix li:last-child {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 2em;
  -ms-flex: 1 1 2em;
  flex: 1 1 2em;
  font-size: 26px;
}
.fix a {
  text-align: center;
  display: block;
  background-color: #fff;
  padding: 12px 5px 10px;
  color: #8214ff;
  text-decoration: none;
  position: relative;
  -webkit-transition-property: 'border-bottom-color background-color';
  -moz-transition-property: 'border-bottom-color background-color';
  -o-transition-property: 'border-bottom-color background-color';
  -ms-transition-property: 'border-bottom-color background-color';
  transition-property: 'border-bottom-color background-color';
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fix a:after {
  content: attr(text);
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  height: 10px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: rgba(228,205,255,0.5);
}
.fix a:active,
.fix a:focus,
.fix a:hover,
.fix a:target {
  outline: none;
  background-color: #efe2ff;
  color: #450093;
}
.fix a:active:after,
.fix a:focus:after,
.fix a:hover:after,
.fix a:target:after {
  background-color: #450093;
}
.graphics span {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-position: center;
  margin-top: -125px;
  margin-left: -125px;
}
.graphics .fire {
  background-image: url("birds/fire.png");
}
.graphics .sunset {
  background-image: url("birds/sunset.png");
}
.graphics .khaki {
  background-image: url("birds/khaki.png");
}
.graphics .meadow {
  background-image: url("birds/meadow.png");
}
.graphics .ocean {
  background-image: url("birds/ocean.png");
}
.graphics .sky {
  background-image: url("birds/sky.png");
}
.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  perspective: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 6;
}
.parallax__group {
  position: relative;
  height: 500px;
  height: 100vh;
  overflow: visible;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  -moz-transform: translateZ(90px) scale(0.7);
  -o-transform: translateZ(90px) scale(0.7);
  -ms-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 6;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 5;
}
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  -moz-transform: translateZ(-300px) scale(2);
  -o-transform: translateZ(-300px) scale(2);
  -ms-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 2;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  -moz-transform: translateZ(-600px) scale(3);
  -o-transform: translateZ(-600px) scale(3);
  -ms-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}
.debug {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 111;
}
.debug-on .parallax__group {
  -webkit-transform: translate3d(700px, 0, -800px) rotateY(30deg);
  -moz-transform: translate3d(700px, 0, -800px) rotateY(30deg);
  -o-transform: translate3d(700px, 0, -800px) rotateY(30deg);
  -ms-transform: translate3d(700px, 0, -800px) rotateY(30deg);
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.debug-on .parallax__layer {
  -webkit-box-shadow: 0 0 0 2px #000;
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.parallax__group {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
}
body,
html {
  background-color: #fff;
  overflow: hidden;
}
body {
  font: 100%/1.5 Arial;
}
.parallax {
  font-size: 130%;
}
/* centre the content in the parallax layers */
.title {
  display: block;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 0 0 1em;
  max-width: 99%;
  white-space: normal;
}
@media screen and (max-width: 760px) {
  .title {
    min-width: 500px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    min-width: 300px;
  }
}
.title.titleBg {
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.title .imagesOnSide {
  margin-left: 2em;
  margin-right: 2em;
}
html,
body {
  background: #fff url("above-clouds-min.jpg") center bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  html,
  body {
    background-image: -webkit-linear-gradient(top, #a1bed0, #d9d7d6);
    background-image: -moz-linear-gradient(top, #a1bed0, #d9d7d6);
    background-image: -o-linear-gradient(top, #a1bed0, #d9d7d6);
    background-image: -ms-linear-gradient(top, #a1bed0, #d9d7d6);
    background-image: linear-gradient(to bottom, #a1bed0, #d9d7d6);
  }
}
.luckaKuba {
  font-size: 22px;
  color: #999;
  line-height: 40px;
  text-shadow: 0 0 5px #fff;
  padding: 40px 40px 30px;
}
.luckaKuba .block {
  line-height: 1;
}
.luckaKuba .lucka,
.luckaKuba .kuba {
  font-size: 400%;
}
.noWrap {
  padding-top: 10px;
  display: inline-block;
  white-space: nowrap;
}
.lucka {
  color: #f66;
}
.kuba {
  color: #39f;
}
.block {
  display: block;
}
#top {
  z-index: 3;
}
#whoweare {
  z-index: 6;
}
#whoweare .parallax__layer--back,
#whoweare .parallax__layer--deep {
  z-index: 3;
}
.title h2 {
  font-size: 150%;
  padding: 0.5em 0 0.35em;
  background-color: rgba(255,109,102,0.05);
  -webkit-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: 1px solid #ccc;
  color: #5600b7;
}
#whoweare .title h2 {
  color: #ff291f;
}
.title p {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.5em 1em 0;
}
img {
  display: block;
  max-width: 100%;
}
.inlineB {
  display: inline-block;
}
.flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 740px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media screen and (max-width: 760px) {
  .flexRow {
    min-width: 480px;
  }
}
.photosImg {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 35%;
  -ms-flex: 1 1 35%;
  flex: 1 1 35%;
  border: 10px solid #fff;
  margin: 70px 35px 0;
  max-width: 50%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
@media screen and (max-width: 760px) {
  .photosImg {
    max-width: 100%;
  }
}
.clouds {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  left: 0;
  z-index: 11;
  right: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: 220px;
  background: url("svg/cloud-center.svg") center bottom no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .clouds {
    height: 130px;
  }
}
.clouds:before,
.clouds:after {
  z-index: 11;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  content: '';
  height: 90%;
  width: 50%;
  background: url("svg/cloud-left.svg") left bottom no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
@media screen and (max-width: 640px) {
  .clouds:before,
  .clouds:after {
    height: 130px;
  }
}
.clouds:after {
  height: 100%;
  background-image: url("svg/cloud-right.svg");
  background-position: right bottom;
  left: auto;
  right: 0;
}
.clouds.flipped {
  bottom: auto;
  top: -1px;
  -webkit-transform: rotateY(180deg) rotateX(180deg);
  -moz-transform: rotateY(180deg) rotateX(180deg);
  -o-transform: rotateY(180deg) rotateX(180deg);
  -ms-transform: rotateY(180deg) rotateX(180deg);
  transform: rotateY(180deg) rotateX(180deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  border-bottom: 0;
  height: 230px;
}
#info {
  z-index: 4;
}
#info .parallax__layer--back,
#info .parallax__layer--deep {
  z-index: 3;
}
#info .title.titleBack {
  margin-top: 20px;
  background-color: transparent;
}
#maps,
#contact {
  z-index: 4;
}
#maps .parallax__layer--back,
#contact .parallax__layer--back,
#maps .parallax__layer--deep,
#contact .parallax__layer--deep {
  z-index: 3;
}
.allMaps {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  max-width: 900px;
  min-width: 640px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 760px) {
  .allMaps {
    min-width: 480px;
  }
}
.allMaps a {
  cursor: pointer;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #fff;
}
@media screen and (max-width: 760px) {
  .allMaps a {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 95%;
    -ms-flex: 1 1 95%;
    flex: 1 1 95%;
  }
}
.allMaps a:hover,
.allMaps a:focus,
.allMaps a:active {
  outline: none;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.allMaps img {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.lightbox {
  position: fixed;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 9999;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.lightbox a {
  text-decoration: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 9999;
  line-height: 1;
  position: relative;
}
.lightbox img {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 9999;
}
.lightbox a:after {
  z-index: 9999;
  content: attr(data-some);
  position: absolute;
  top: 0;
  line-height: 40px;
  text-align: center;
  left: 0;
  right: 0;
  height: 40px;
  color: #000;
  font-weight: bold;
  background-color: rgba(255,255,255,0.8);
  font-size: 24px;
}
.lightbox:target {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.containsPhotosAll {
  -webkit-perspective: 2500px;
  -moz-perspective: 2500px;
  -ms-perspective: 2500px;
  perspective: 2500px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.photosAll {
  -webkit-transform: translate3d(0, 0, -1.5px);
  -moz-transform: translate3d(0, 0, -1.5px);
  -o-transform: translate3d(0, 0, -1.5px);
  -ms-transform: translate3d(0, 0, -1.5px);
  transform: translate3d(0, 0, -1.5px);
  -webkit-animation: wiggles 3s ease 4s infinite normal forwards;
  -moz-animation: wiggles 3s ease 4s infinite normal forwards;
  -o-animation: wiggles 3s ease 4s infinite normal forwards;
  -ms-animation: wiggles 3s ease 4s infinite normal forwards;
  animation: wiggles 3s ease 4s infinite normal forwards;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  overflow: visible;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 1;
}
.photosAll:after {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -o-transform-style: flat;
  -ms-transform-style: flat;
  transform-style: flat;
  z-index: 1;
  content: '';
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  bottom: -50px;
  background-color: rgba(255,255,255,0.25);
  -webkit-transform: translate3d(0, 100px, 5px);
  -moz-transform: translate3d(0, 100px, 5px);
  -o-transform: translate3d(0, 100px, 5px);
  -ms-transform: translate3d(0, 100px, 5px);
  transform: translate3d(0, 100px, 5px);
}
.photosAll div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 15%;
  -ms-flex: 1 1 15%;
  flex: 1 1 15%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin: 30px 20px 0;
  min-height: 320px;
  position: relative;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 1.5px);
  -moz-transform: translate3d(0, 0, 1.5px);
  -o-transform: translate3d(0, 0, 1.5px);
  -ms-transform: translate3d(0, 0, 1.5px);
  transform: translate3d(0, 0, 1.5px);
}
.photosAll div {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation-name: pulse, antiwiggles;
  -moz-animation-name: pulse, antiwiggles;
  -o-animation-name: pulse, antiwiggles;
  -ms-animation-name: pulse, antiwiggles;
  animation-name: pulse, antiwiggles;
  -webkit-animation-duration: 3s, 3s;
  -moz-animation-duration: 3s, 3s;
  -o-animation-duration: 3s, 3s;
  -ms-animation-duration: 3s, 3s;
  animation-duration: 3s, 3s;
  animation-easing-function: ease, ease;
  -webkit-animation-delay: 1s, 4s;
  -moz-animation-delay: 1s, 4s;
  -o-animation-delay: 1s, 4s;
  -ms-animation-delay: 1s, 4s;
  animation-delay: 1s, 4s;
  -webkit-animation-iteration-count: 1, infinite;
  -moz-animation-iteration-count: 1, infinite;
  -o-animation-iteration-count: 1, infinite;
  -ms-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-direction: normal, normal;
  -moz-animation-direction: normal, normal;
  -o-animation-direction: normal, normal;
  -ms-animation-direction: normal, normal;
  animation-direction: normal, normal;
  -webkit-animation-fill-mode: forwards, forwards;
  -moz-animation-fill-mode: forwards, forwards;
  -o-animation-fill-mode: forwards, forwards;
  -ms-animation-fill-mode: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}
@media screen and (max-width: 1160px) {
  .photosAll div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-heigth: 320px;
    max-width: 320px;
  }
}
.photosAll div:nth-child(30n+0) {
  background-image: url("photos/oba01.jpg");
  width: 216.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+1) {
  background-image: url("photos/lucka01.jpg");
  width: 320px;
  height: 320px;
}
.photosAll div:nth-child(30n+2) {
  background-image: url("photos/kuba01.jpg");
  width: 249.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+3) {
  background-image: url("photos/oba02.jpg");
  width: 223px;
  height: 320px;
}
.photosAll div:nth-child(30n+4) {
  background-image: url("photos/lucka02.jpg");
  width: 245.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+5) {
  background-image: url("photos/kuba02.jpg");
  width: 180.5px;
  height: 321px;
}
.photosAll div:nth-child(30n+6) {
  background-image: url("photos/oba03.jpg");
  width: 310.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+7) {
  background-image: url("photos/lucka03.jpg");
  width: 180px;
  height: 320px;
}
.photosAll div:nth-child(30n+8) {
  background-image: url("photos/kuba03.jpg");
  width: 180px;
  height: 320px;
}
.photosAll div:nth-child(30n+9) {
  background-image: url("photos/oba04.jpg");
  width: 385.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+10) {
  background-image: url("photos/lucka04.jpg");
  width: 349px;
  height: 270px;
}
.photosAll div:nth-child(30n+11) {
  background-image: url("photos/kuba04.jpg");
  width: 311px;
  height: 320px;
}
.photosAll div:nth-child(30n+12) {
  background-image: url("photos/oba05.jpg");
  width: 426.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+13) {
  background-image: url("photos/lucka05.jpg");
  width: 180px;
  height: 320px;
}
.photosAll div:nth-child(30n+14) {
  background-image: url("photos/kuba05.jpg");
  width: 240px;
  height: 320px;
}
.photosAll div:nth-child(30n+15) {
  background-image: url("photos/oba06.jpg");
  width: 398px;
  height: 320px;
}
.photosAll div:nth-child(30n+16) {
  background-image: url("photos/lucka06.jpg");
  width: 195px;
  height: 320px;
}
.photosAll div:nth-child(30n+17) {
  background-image: url("photos/kuba06.jpg");
  width: 237.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+18) {
  background-image: url("photos/oba07.jpg");
  width: 367.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+19) {
  background-image: url("photos/lucka07.jpg");
  width: 217.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+20) {
  background-image: url("photos/kuba07.jpg");
  width: 194px;
  height: 321px;
}
.photosAll div:nth-child(30n+21) {
  background-image: url("photos/oba08.jpg");
  width: 217.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+22) {
  background-image: url("photos/lucka08.jpg");
  width: 240px;
  height: 320px;
}
.photosAll div:nth-child(30n+23) {
  background-image: url("photos/kuba08.jpg");
  width: 201.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+24) {
  background-image: url("photos/oba09.jpg");
  width: 262px;
  height: 320px;
}
.photosAll div:nth-child(30n+25) {
  background-image: url("photos/lucka09.jpg");
  width: 197px;
  height: 320px;
}
.photosAll div:nth-child(30n+26) {
  background-image: url("photos/kuba09.jpg");
  width: 213.5px;
  height: 320px;
}
.photosAll div:nth-child(30n+27) {
  background-image: url("photos/oba10.jpg");
  width: 180px;
  height: 320px;
}
.photosAll div:nth-child(30n+28) {
  background-image: url("photos/lucka10.jpg");
  width: 240px;
  height: 320px;
}
.photosAll div:nth-child(30n+29) {
  background-image: url("photos/kuba10.jpg");
  width: 180.5px;
  height: 320px;
}
#party {
  z-index: 4;
}
#party .title {
  text-align: left;
  min-width: 20em;
}
#party .title ul {
  list-style-type: none;
  padding: 0.5em 1em 0;
  margin: 0;
}
#party .title ul > li {
  padding: 0.2em 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#party .title ul > li .startTime {
  font-family: monospace;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 4em;
  -ms-flex: 0 1 4em;
  flex: 0 1 4em;
}
#party .title ul > li span {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3 0 auto;
  -ms-flex: 3 0 auto;
  flex: 3 0 auto;
}
#party .title ul,
#party .title p {
  font-size: 16px;
}
#party .title h2 {
  text-align: center;
}
#party .parallax__layer--deep {
  overflow: visible;
}
#money {
  z-index: 3;
}
#money .parallax__layer--back {
  z-index: 2;
}
#money .parallax__layer--back .moneyBg {
  padding: 20px;
  min-width: 480px;
  max-width: 700px;
  min-height: 40%;
  max-height: 50%;
}
.aroundPiggy {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.aroundPiggy .paras {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
  text-align: left;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.aroundPiggy .piggy {
  margin: 20px 10px 10px 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 40%;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  display: block;
  min-height: 200px;
  min-width: 300px;
  background: #fff url("svg/piggy.svg") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
@-moz-keyframes wiggles {
  0% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
}
@-webkit-keyframes wiggles {
  0% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
}
@-o-keyframes wiggles {
  0% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
}
@keyframes wiggles {
  0% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, -1.5px);
    -moz-transform: translate3d(0, 0, -1.5px);
    -o-transform: translate3d(0, 0, -1.5px);
    -ms-transform: translate3d(0, 0, -1.5px);
    transform: translate3d(0, 0, -1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, -0.5px);
    -moz-transform: translate3d(0, 0, -0.5px);
    -o-transform: translate3d(0, 0, -0.5px);
    -ms-transform: translate3d(0, 0, -0.5px);
    transform: translate3d(0, 0, -0.5px);
  }
}
@-moz-keyframes antiwiggles {
  0% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
}
@-webkit-keyframes antiwiggles {
  0% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
}
@-o-keyframes antiwiggles {
  0% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
}
@keyframes antiwiggles {
  0% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  25% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
  75% {
    -webkit-transform: translate3d(0, 0, 1.5px);
    -moz-transform: translate3d(0, 0, 1.5px);
    -o-transform: translate3d(0, 0, 1.5px);
    -ms-transform: translate3d(0, 0, 1.5px);
    transform: translate3d(0, 0, 1.5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0.5px);
    -moz-transform: translate3d(0, 0, 0.5px);
    -o-transform: translate3d(0, 0, 0.5px);
    -ms-transform: translate3d(0, 0, 0.5px);
    transform: translate3d(0, 0, 0.5px);
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
